video {
  visibility: hidden;
}


canvas {
  display: none;
}

.navbar {
  background:rgba(58, 6, 6, 0.65);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav {
  font-family: 'Caudex', serif;
}

@media(max-width:768px) {
  .navbar {
    background: black;
    opacity: 0.7;
  }
  .navbar-default .nav-link.top_right {
    color: white;
    opacity: 0.8;
  }
  #logo {
    color: white;
    opacity: 1;
  }
}

.cover_bg {
  background-image: url(../img/DSC_8678.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

.cover {
  position: absolute;
  color: rgba(144, 144, 144, 0.65);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.bio {
  background-color: rgb(16, 5, 7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bio_p {
  margin: 10vh;
  display: block;
  max-width: 400px;
}
#bio_title {
  font-family:'Caudex',serif;
  text-align: center;
}
#bio_name {
  opacity: 0.7;
}
#bio_detail {
  opacity: 0.5;
}
#showcase {
  background-color: rgb(16, 5, 7);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: 0;
  transition: .5s;
  background-color: rgb(152, 0, 0);
}
.text {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.grid-row:hover .overlay {
  opacity: 0.75;
}
.grid-row {
  background-color: rgb(152, 10, 10);
  padding: 0px;
}

.social {
  color: rgb(152, 10, 10);
}

#Arrow {
  text-align: center;
}
#leftArrow, #rightArrow {
  color: white;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 0px;
  display: inline-block;
}





#profile_pic {
  max-width: 200px;
  height: auto;
}

#cover {
  padding-right: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
  justify-content: center;
  align-items: center;
}

.section {
	min-height:450px;
	width: 100%;
	height:100%;
	padding-top:0px;
	display: none;
}

.album {
  max-width: 500px;
  height: auto;
  display: none;
}

#profile_photo {
  max-width: 20vw;
  height: auto;
  margin-left: 10vh;
}

.page-link {
  background: transparent;
  color: #4c0808;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img1 {
  display: block;
}

#home {
  padding-top:0px;
  min-height:450px;
	display: block;
}

.photo {
  max-width: 30vw;
}
